version: "3.9"

services:
  campus-rpl:
    build:
      context: ./campus-virtual
      dockerfile: Dockerfile
    container_name: campus-rpl
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=production
    depends_on:
      - prisma-db
    volumes:
      - ./campus-virtual:/app
    working_dir: /app
    command: ["npm", "run", "start"]

  prisma-db:
    image: mariadb:11
    container_name: prisma-db
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: rootpassword
      MYSQL_DATABASE: campusdb
    volumes:
      - ./mysql_data:/var/lib/mysql
    ports:
      - "3306:3306"

volumes:
  mysql_data:

